.source-code-blacklist-list {
    &__box {
        padding: 1em;
    }

    &__error {
        color: #e96d76;
        margin-bottom: 1em;
        padding: 1em;
        background-color: #fdf0f0;
        border-radius: 4px;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    &__actions {
        display: flex;
        gap: 0.5em;
    }

    &__add-form {
        display: flex;
        gap: 0.5em;
        align-items: center;

        input {
            margin: 0;
            width: 300px;
        }
    }

    &__table {
        margin-top: 1em;
    }

    &__row {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        gap: 1em;
        align-items: center;

        > div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .actions {
            text-align: right;
        }
    }
}
