.vscode/
.idea/
.DS_Store
.run/
vendor/
dist/*
ui/dist/app/*
!ui/dist/app/gitkeep
site/
*.iml
.tilt-bin/
# delve debug binaries
cmd/**/debug
debug.test
coverage.out
test-results
.scannerwork
.scratch
node_modules/
.kube/
./test/cmp/*.sock
.envrc.remote
.mirrord/
.*.swp
rerunreport.txt
.env


# ignore built binaries
cmd/athena/athena
cmd/athena-application-controller/athena-application-controller
cmd/athena-server/athena-server
third-party/clob-client-v2/


待办.md
tmp/
sports.md