/* === Heebo - 300 */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Heebo Light'), url('./fonts/google-fonts/Heebo-Light.woff2') format('woff2');
}

/* === Heebo - regular */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Heebo'), url('./fonts/google-fonts/Heebo-Regular.woff2') format('woff2');
}

/* === Heebo - 500 */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Heebo Medium'), url('./fonts/google-fonts/Heebo-Medium.woff2') format('woff2');
}

/* === Heebo - 700 */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Heebo Bold'), url('./fonts/google-fonts/Heebo-Bold.woff2') format('woff2');
}
